<section class="search-section fancy-gradient fancy-gradient--rainbow container">

      <form action="" class="search-form">
        <input
      type="text"
      name="searchQuery"
      pattern=".*\S.*"
      autocomplete="off"
      placeholder="Search images..."
      required
    />
        <button class="search-btn" type="submit">
          <span>Search</span>
        </button>
      </form>
      
      <ul class="gallery hidden"> </ul>
      <div class="wrapper hidden"><div class="loader"></div></div>
      
      <button class="more-btn hidden">Load more</button>

</section>

